:root {
  --sans:  'Source Sans Pro', sans-serif;
  --mono:  'Ubuntu Mono', monospace;
  --serif: 'Lora', serif;
  --accent: #cfd8dc;
  --hyper: #0091ea;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: var(--sans);
  color: #212121;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 70%;
  width: 70%;
}

a, a:visited {
  color: var(--hyper);
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: space-between;
}

header, footer {
  margin: 1% 5%;
}

main > article {
  flex: 1 1 auto;
}

article * {
  font-family: var(--serif);
}

article p {
  font-size: 16px;
}

article code, article code * {
  font-family: var(--mono);
}

.blog-header {
  font-weight: 600;
}


.image-modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.6);
}

.image-modal > img {
  max-width: 90vw;
}

article h1, article h2, article h3 {
  font-family: var(--sans);
  border-bottom: 1px solid var(--accent);
  width: fit-content;
}

::selection {
  background: var(--accent);
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 560px) {
  main {
    max-width: 85%;
    width: 85%;
  }
}